@use '../../styles/index' as *;

.cart {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: $secondary-white-color;
    color: $primary-black-color;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.cartTitle {
    font-size: $primary-font-size;
    font-family: $secondary-font;
    margin-bottom: 2rem;
}