:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 1320px;
  min-height: 100vh;
}

main {
  margin: 0;

  @media (min-width: 768px) {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  }
}

$primary-white-color: #ffffff;
$secondary-white-color: #f5f5f5;
$tertiary-white-color: #e4e4e4;
$primary-black-color: #000000;
$secondary-black-color: #303030;
$primary-color: #99e2d0;
$primary-degrade-color: linear-gradient(170deg, #ff79da, #f071da, #e06adb, #cf64dc, #bd5fdc, #a95adc, #9356dc);

$primary-font-size: 25px;
$secondary-font-size: 20px;
$tertiary-font-size: 18px;
$quaternary-font-size: 15px;

$error-font-size: 50px;

$primary-font-weight: bold;

$secondary-font: 'Shrikhand', serif;