@import '../../styles/index.scss';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $primary-color;
    color: $primary-white-color;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nameLogo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    font-family: $secondary-font;

}