@import '../../styles/index.scss';

.laCarte {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: $secondary-white-color;
    color: $primary-black-color;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.laCarteTitle {
    font-size: $primary-font-size;
    font-family: $secondary-font;
}

.laCarteTypePlatsContainer {
    display: flex;
    flex-direction: column;
}

.laCarteTypePlats {
    font-size: $secondary-font-size;
    margin-bottom: 0.5rem;
    margin-top: 2rem; // Ajouter une marge en haut
}

.laCarteTypePlatsBarre {
    width: 2.5rem;
    height: 2px;
    background-color: $primary-color;
    margin-bottom: 1rem;
  }

.laCarteCards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}