@import '../../styles/index.scss';

.laCarteCard {
    display: flex;
    flex-direction: row;
    background-color: $primary-white-color;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
}

.laCarteCard img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.laCarteCardContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
}

.laCarteCardContent h4 {
    font-size: $tertiary-font-size;
    font-family: $secondary-font;
    margin: 0;
}

.laCarteCardContent p {
    font-size: $quaternary-font-size;
    margin: 0.5rem 0;
    text-align: left;
}

.laCarteCardFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.laCarteCardFooter img {
    width: 20px;
    height: 20px;
}

.laCarteCardFooter p {
    font-size: $tertiary-font-size;
    font-family: $secondary-font;
    margin: 0;
}